$sizes: (
    "n": 0rem, 
    "xs": .25rem, 
    "s": .5rem, 
    "r": 1rem, 
    "l": 2rem, 
    "xl": 4rem
);

@each $suffix, $size in $sizes {
    .mr#{$suffix} {
        margin-right: $size;
    }
    .ml#{$suffix} {
        margin-left: $size;
    }
    .mt#{$suffix} {
        margin-top: $size;
    }
    .mb#{$suffix} {
        margin-bottom: $size;
    }
    .mv#{$suffix} {
        margin-top: $size;
        margin-bottom: $size;
    }
    .mh#{$suffix} {
        margin-left: $size;
        margin-right: $size;
    }
    .ma#{$suffix} {
        margin: $size
    }
}

@each $suffix, $size in $sizes {
    .pr#{$suffix} {
        padding-right: $size;
    }
    .pl#{$suffix} {
        padding-left: $size;
    }
    .pt#{$suffix} {
        padding-top: $size;
    }
    .pb#{$suffix} {
        padding-bottom: $size;
    }
    .pv#{$suffix} {
        padding-top: $size;
        padding-bottom: $size;
    }
    .ph#{$suffix} {
        padding-left: $size;
        padding-right: $size;
    }
    .pa#{$suffix} {
        padding: $size
    }
}
