@import "~bootstrap/scss/bootstrap";
@import "grid.scss";

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  color: white;
  padding: 0 1rem;
}

.App-container {
  text-align: center;
  margin: 1rem 12rem;
}

.form-login {
  display: flex;
  flex-direction: column;

  > div, button {
    margin-bottom: 1rem;
  }
}

.align-left {
  text-align: left;
}